- if err = error?
  - content_for :html_foot do
    :javascript
      alert("error: #{err}");

- if @user
  - content_for :toolbar do
    %span.item.button#btn_reload reload
  - content_for :html_foot do
    :javascript
      var session_id = "#{session[:id]}";
    %script{:src => "//ajax.googleapis.com/ajax/libs/jquery/2.0.2/jquery.min.js"}
    %script{:src => rocketio_js}
    %script{:src => "/main.js"}

- content_for :header do
  %h1= app_name

%div#status
  %p.rocketio
  %p.text

- unless @user
  %h2 Please Login
- else
  %h2 Your Issues
  %p#repos_status
  %ul#repos
